# TigerGraph Savanna / Community Edition
TG_HOST=https://<workspace-id>.<region>.i.tgcloud.io
TG_GRAPH=FraudGraph
TG_SECRET=            # Savanna: Admin Portal > Management > Users > secret  (or use username/password below)
TG_USERNAME=
TG_PASSWORD=
GRAPH_BACKEND=tigergraph   # or local
